.card-header {
    /* border: 2px solid rgb(13, 0, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

/* .ch-icon {
    border: 2px solid blue;
} */

.ch-title {
    /* border: 2px solid green; */
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ch-btns {
    /* border: 2px solid yellow; */
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-icon {
    /* border: 2px solid red; */
    /* margin-inline: .1rem; */
    color: #636e72 !important;
    outline: none;
    border: none;
    background: none !important;
    font-size: .8rem !important;
}